//.sidebar .personal-info-wrapper,
//.loading-wrapper,
//.loading-wrapper .title,
//.loading-wrapper .description
//{
//  display none !important
//}
//.footer-wrapper.footer > :first-child{
//  display none;
//}
//.navbar .home-link{
//  display flex;
//  img{
//    flex-shrink 0;
//  }
//  .site-name{
//    white-space nowrap
//    word-break: break-all;
//    overflow hidden
//    text-overflow: ellipsis;
//  }
//}